<h1>User Detail</h1>

<ul>
  <li> ID：<%= @user.id %> </li>
  <li> 名前：<%= @user.name %> </li>
  <li> 年齢：<%= @user.age %> </li>
  <li> 作成日：<%= @user.created_at %> </li>
  <li> 更新日：<%= @user.updated_at %> </li>
</ul>

<%= link_to '一覧', users_path %>